<head>
<title>Hashtag Search</title>
</head>
<body>
<h1>Site Status Checker</h1>
<p>Is it down or not? Search websites to check their status.</p>
<form method="post" action="/results/">
<input type="search" id="query" name="query" placeholder="example.com"></input>
<button type="submit">Go</submit>
</form>
</body>
